%tr
  %td{:align => "left"}
    %font{body_font}

      = t("emails.transaction_created.body", sender_name: sender_name, listing_title: transaction.listing.title)

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.transaction_created.action"), :url => reply_url}
