- conversation_url = person_transaction_url(person_id: @recipient.id, id: @conversation.id.to_s)

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.accept_reminder.you_have_not_yet_accepted_or_rejected_#{@conversation.discussion_type}", :date => time_ago(@conversation.created_at.to_date), :title => link_to(@conversation.listing_title, conversation_url), :requester_name => @conversation.starter.name).html_safe

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.accept_reminder.show_thread"), :url => conversation_url}
