%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t('emails.insufficient_availabilities_to_author.body', recipient_username: recipient.username, listing_title: listing.title, listing_url: listing_url).html_safe

%tr
  %td    
    = render :partial => "action_button", :locals => { :text => t("emails.insufficient_availabilities_to_author.view_listing"), :url => listing_url}
