- if !@listing.transaction_type.is_badge?
  #calendar

  = render layout: "layouts/lightbox", locals: { id: "add_availability_dialog"} do
    %h2="Recurring or One Time"
    %p Is this a weekly recurring availability or one time?
    %button#add-recurring
      .content="Recurring"
    %button#add-once
      .content="Once"

= form.hidden_field(:availabilities_json)
