- if !@listing.transaction_type.is_badge?
  #calendar

  = render layout: "layouts/lightbox", locals: { id: "add_availability_dialog"} do
    %h2=t('listings.form.availabilities.recurring_prompt_title')
    %p= t('listings.form.availabilities.recurring_prompt')
    %button#add-recurring
      .content="Recurring"
    %button#add-once
      .content="Once"

= form.hidden_field(:availabilities_json)
