.row
  .col-12
    .checkbox-container
      = form.check_box :display_on_transaction
      - custom_field.with_type do |type|
        = form.label :display_on_transaction, t(".display_on_transaction")
